@import url('colors.css');

.header {
  display: flex;
  height: 10%;
  align-items: center;
  padding-left: 30px;
  background-color: var(--background-header-color);
  color: var(--text-header-color);
}
