@import url('colors.css');

.scrollable-box {
  background-color: var(--background-white);
  border: 2px solid var(--text-secondary-color);
  border-radius: 6px;
  height: 100%;
  overflow-y: auto;
}

.card-items {
  border-bottom: 1px solid var(--text-secondary-color);
}

.card-items:last-child {
  border-bottom: none;
}

.card-items.selected {
  background-color: var(--background-primary-color);
}

